<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gotoday.user.UserMapper">
	
	<!-- 카카오 -->
	<insert id="insertKakaoUser" parameterType="kr.co.gotoday.user.UserVO" useGeneratedKeys="true" keyProperty="user_id">
	    INSERT INTO user(
	    	email, name, registered_at, role, login_type
	    ) VALUES(#{kakao_email}, #{kakao_nickname}, NOW(), 0, 'K')
    </insert>
	
	<!-- 카카오 DB 중복 체크-->
	<select id="loginByEmail" parameterType="String" resultType="kr.co.gotoday.user.UserVO">
    	SELECT * FROM user WHERE email = #{email}
	</select>

	<!-- 로그인 -->
    <select id="login" parameterType="kr.co.gotoday.user.UserVO" resultType="kr.co.gotoday.user.UserVO">
        SELECT * FROM user WHERE email = #{email} AND password = MD5(#{password})
    </select>

    <!-- 회원가입 -->
    <insert id="register" parameterType="kr.co.gotoday.user.UserVO" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO user (
        	email, password, name, gender, birthday
        	, phone_number, registered_at, role, login_type
        ) VALUES(#{email}, MD5(#{password}), #{name}, #{gender}, #{birthday}, #{phone_number}, NOW(), #{role}, 'L')
    </insert>

    <!-- 사용자 관심사 선택 -->
    <insert id="createUserTags" parameterType="kr.co.gotoday.user.UserTagVO">
        INSERT INTO user_tag(user_id, tag_id) 
        VALUES(#{user_id}, #{tag_id})
    </insert>

	<!-- 사용자 관심사 선택(새로 추가) -->
	<insert id="createUserTagsBatch">
		  INSERT INTO user_tag (user_id, tag_id)
		  VALUES
		  <foreach collection="list" item="item" separator=",">
		    (#{item.user_id}, #{item.tag_id})
		  </foreach>
	</insert>

    <!-- 태그 이름으로 태그 id 찾기 -->
    <select id="findTagIdByName" parameterType="String" resultType="long">
        SELECT tag_id FROM tag WHERE tag_name = #{tagName}
    </select>
    
    <!-- 이메일 중복 체크 -->
    <select id="emailCheck" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE email = #{email}
    </select>
	
	<!-- 관리자 로그인 -->
    <select id="adminLogin" parameterType="kr.co.gotoday.user.UserVO" resultType="kr.co.gotoday.user.UserVO">
        SELECT 
        	admin_id AS user_id
        	, email
        	, password 
        FROM admin WHERE email = #{email} AND password = #{password}
    </select>
    
    <!-- 마이페이지 관심사 수정(사용자 태그 목록 확인) -->
	<select id="getUserTagNames" resultType="String">
	    SELECT t.tag_name
	    FROM user_tag ut
	    JOIN tag t ON ut.tag_id = t.tag_id
	    WHERE ut.user_id = #{userId}
	</select>

	<!-- 마이페이지 관심사 수정(사용자 태그 전체 삭제) -->
	<delete id="deleteUserTags">
	    DELETE FROM user_tag WHERE user_id = #{userId}
	</delete>
	
	<!-- 마이패이지 관심사 수정(사용자 태그 추가) -->
	<insert id="insertUserTag" parameterType="kr.co.gotoday.user.UserTagVO">
	    INSERT INTO user_tag (user_id, tag_id)
	    VALUES (#{user_id}, #{tag_id})
	</insert>
	
	<!-- 마이페이지 회원정보 조회 -->
	<select id="getUserById" parameterType="int" resultType="kr.co.gotoday.user.UserVO">
	    SELECT * FROM user WHERE user_id = #{userId}
	</select>

	<!-- 마이페이지 회원정보 수정 -->
	<update id="updateUserInfo" parameterType="kr.co.gotoday.user.UserVO">
	    UPDATE user
	    <set>
	        <if test="password != null and password != ''">
	            password = MD5(#{password}),
	        </if>
	        name = #{name},
	        birthday = #{birthday},
	        gender = #{gender},
	        phone_number = #{phone_number}
	    </set>
	    WHERE user_id = #{user_id}
	</update>
	
	<!-- 아이디, 비밀번호 찾기 -->
	<select id="findEmail" resultType="kr.co.gotoday.user.UserVO">
	    SELECT email FROM user 
	    WHERE name = #{name} AND birthday = #{birthday} AND phone_number = #{phone_number}
	</select>
	
	<select id="findUserForPw" resultType="kr.co.gotoday.user.UserVO">
	    SELECT user_id, email FROM user 
	    WHERE email = #{email} AND phone_number = #{phone_number}
	</select>
	
	<update id="updateTempPassword">
	    UPDATE user SET password = MD5(#{tempPw}) WHERE user_id = #{user_id}
	</update>

</mapper>