# Eclipse / STS
.metadata/
.settings/
.classpath
.project
.springBeans

# Build
/target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node (혹시 나중에 프론트 붙일 경우)
node_modules/

/src/main/resources/db.properties
/src/main/resources/api.properties
