<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gotoday.payment.PaymentMapper">
	<insert id="createPayment" parameterType="kr.co.gotoday.payment.PaymentVO">
		INSERT INTO payment (
		    payment_method, payment_status, amount_price, paid_at, 
		    reservation_id, refund_status, payment_key, order_key
		)
		VALUES (
		    #{payment_method}, #{payment_status}, #{amount_price}, CURRENT_TIMESTAMP(),
		    #{reservation_id}, #{refund_status}, #{payment_key}, #{order_key}
		)
	</insert>
</mapper>