@charset "UTF-8";
/* reply_list.jsp, inquiry_list.jsp 공통 적용 */
body {
	font-family: 'Pretendard', sans-serif;
	background-color: transparent;
	margin: 0;
	padding: 0;
	color: #333;
}

.page-title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #111;
	margin-top: 0px;
}

.inquiry-container {
	background: #fff;
	border-radius: 20px;
	padding: 40px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.05);
	width: 100%;
	max-width: 880px;
	height:640px;
	margin: 0 auto;
	box-sizing: border-box;
}

.fixed-footer {
	position: fixed;
	bottom: 400px;
	left: 0;
	right: 0;
	background-color: #ffffff;
	z-index: 100;
	padding: 15px 20px 20px 20px;
	max-width: 900px;
	margin: 0 auto;
	height: 50px;
}

.inquiry-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

/* Q&A 데이터 없는 경우 */
.no-data {
	text-align: center;
	padding: 60px;
	color: #999;
}

/* 총 갯수, 페이지 표시 텍스트 */
.total-count {
	font-size: 16px;
	color: #666;
}

.inquiry-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 30px;
}

.inquiry-table th {
	background: #f8f9fa;
	padding: 15px;
	text-align: center;
	border-bottom: 2px solid #eee;
	font-weight: 600;
}

.inquiry-table td {
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.inquiry-title {
	text-align: left;
	cursor: pointer;
	color: #333;
	
}

.inquiry-title:hover {
	text-decoration: underline;
}

.status-badge {
	font-size: 14px;
	color: #000;
}

/* 페이징 처리 */
.pagenate {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.paging {
	list-style: none;
	display: flex;
	padding: 0;
	gap: 8px;
	align-items: center;
}

/* 페이지 링크 스타일 */
.paging li a {
	display: block;
	padding: 6px 12px;
	border: 1px solid #ddd;
	color: #666;
	text-decoration: none;
	font-size: 14px;
	border-radius: 4px;
	transition: 0.2s;
}

/* 현재 페이지 스타일 */
.paging li a.current {
	background-color: #333;
	color: #fff;
	border-color: #333;
	font-weight: bold;
}

.paging li a:hover:not(.current) {
	background-color: #eee;
}
